.place__title {
  margin: 80 0 0 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    margin-left: 24px;
    margin-top: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 38px;
    margin: 50px 16px 0 16px;
  }
}