.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 90%;
    font-size: 12vw;
    line-height: 1.15;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  
  }
}

@media screen and (max-width: 319px) {
  .lead__title {
    font-size: 12vw;
    line-height: 1.15;
  }
}