.footer {
  max-width: 1184px;
  margin: 160px auto 48px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    margin: 160px 48px 48px ;
  }
}

@media screen and (max-width: 950px) {
  .footer {
    margin: 102px 23px 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
    margin: 64px 16px 24px ;
    align-items: flex-start;
  }
}
